{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Päivämäärä</th>
      <th>Matka</th>
      <th>Aika</th>
    </tr>
    <tr>
      <td>{{ juoksu.pvmString }}</td>
      <td>{{ juoksu.matkaString }}</td>
      <td>{{ juoksu.aikaString }} </td>
      <td>
         <a href= "{{ url_for('juoksu_updateform', juoksu_id = juoksu.id) }}"><button>Muokkaa</button></a>
         
      </td>
      <td>
        <form method="POST" action="{{ url_for('juoksu_delete', juoksu_id = juoksu.id) }}">
          <input type="submit" value="Poista"/>
	      </form>
      </td>
    </tr>
  </table>
{% endblock %}