{% extends "layout.html" %}
  
{% block body %}
<p> Painamalla kerran "Etsi harjoituksia" lomakkeet tulevat esille. Bugin syytä etsitään. </p>
<form method="POST" action="{{ url_for('pvmhaku') }}">
  <table>
    <div class="form-group">
    {{ form.pvmEka.label }}
    {{ form.pvmEka }}
        <ul>
          {% for error in form.pvmEka.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
    </div>
    <div class="form-group">
        {{ form.pvmToka.label}}
        {{ form.pvmToka }}
      <ul>
        {% for error in form.pvmToka.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <tr>
          <td colspan="2">
        <input type="submit" value="Etsi harjoituksia"/>
          </td>
        </tr>
    </table>
</form>

  <table>
    <thhead>Juoksut:</thhead>

    <tr>
      <th>Päivämäärä</th>
      <th>Matka</th>
      <th>Aika</th>
    </tr>
    {% for juoksu in juoksut %}
    <tr>
      <td>{{ juoksu.pvmstring }}</td>
      <td>{{ juoksu.matkastring }}</td>
      <td>{{ juoksu.aikastring }} </td>
      <td>
         <a href= "{{ url_for('juoksu_updateform', juoksu_id = juoksu.id) }}"><button>Muokkaa</button></a>
         
      </td>
      <td>
        <a href= "{{ url_for('juoksu_single', juoksu_id = juoksu.id) }}"><button>Lisätietoja</button></a>
        
     </td>
      <td>
        <form method="POST" action="{{ url_for('juoksu_delete', juoksu_id = juoksu.id) }}">
          <input type="submit" value="Poista"/>
	      </form>
      </td>
    </tr>
    {% endfor %}
  </table>

  <table>
      <thhead>Kuntosaliharjoitukset:</thhead>
    <tr>
      <th>Päivämäärä</th>
      <th>Aika</th>
    </tr>
    {% for sali in salit %}
    <tr>
      <td>{{ sali.pvmstring }}</td>
      <td>{{ sali.aikastring }} </td>
      <td>
         <a href= "{{ url_for('sali_updateform', sali_id = sali.id) }}"><button>Muokkaa</button></a>
         
      </td>
      <td>
        <a href= "{{ url_for('sali_single', sali_id = sali.id) }}"><button>Lisätietoja</button></a>
        
     </td>
      <td>
        <form method="POST" action="{{ url_for('sali_delete', sali_id = sali.id) }}">
          <input type="submit" value="Poista"/>
	      </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
