{% extends "layout.html" %}

{% block body %}

  <table>
<thhead>Juoksut:</thhead>

    <tr>
      <th>Päivämäärä</th>
      <th>Matka</th>
      <th>Aika</th>
      {% if current_user.role == "ADMIN" %}
      <th>Kenen</th>
      {% endif %}
    </tr>
    {% for juoksu in juoksut %}
    <tr>
      <td>{{ juoksu.pvmstring }}</td>
      <td>{{ juoksu.matkastring }}</td>
      <td>{{ juoksu.aikastring }} </td>
      {% if current_user.role == "ADMIN" %}
      <td>{{ juoksu.user }}</td>
      {% endif %}
      <td>
        <a href= "{{ url_for('juoksu_single', juoksu_id = juoksu.id) }}"><button>Lisätietoja</button></a>
     </td>
    </tr>
    {% endfor %}
  </table>

  <table>
      <thhead>Kuntosaliharjoitukset:</thhead>
    <tr>
      <th>Päivämäärä</th>
      <th>Aika</th>
      {% if current_user.role == "ADMIN" %}
      <th>Kenen</th>
      {% endif %}
    </tr>
    {% for sali in salit %}
    <tr>
      <td>{{ sali.pvmstring }}</td>
      <td>{{ sali.aikastring }} </td>
      {% if current_user.role == "ADMIN" %}
      <td>{{ sali.user }}</td>
      {% endif %}
      <td>
        <a href= "{{ url_for('sali_single', sali_id = sali.id) }}"><button>Lisätietoja</button></a>
     </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}