{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('juoksut_create') }}">
    <table>
        <tr>
          <td>
        Päivämäärä
          </td>
          <td>
        <input type="text" name="pvm"/>
          </td>
        </tr>
        <tr>
          <td>
        Matka (Metreinä)
          </td>
          <td>
            <input type="text" name="matka"/>
          </td>
        </tr>
        <tr>
        <td>
            Aika (Minuutteina)
        </td>
        <td>
            <input type="text" name="aika"/>
        </td>
        </tr>
        <tr>
          <td colspan="2">
        <input type="submit" value="Lisää juoksu"/>
          </td>
        </tr>
    </table>
</form>
{% endblock %}
